<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets">
	<name>uInstapaper</name>
	<description>Adds pages to Instapaper account. This is not the official extension.</description>
	<author href="https://github.com/arturolinares/uInstapaper">Arturo Linares (@arturo_linares)</author>
  <access origin='https://www.instapaper.com/api/add' subdomains="true" />
</widget>
